{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  {% for i in blog2 %}
  <div class="innerPageBannerCol">
    <div class="container">
      <div class="row g-4 g-md-3  align-items-center">
        <div class="col-md-6">
          <div class="bannerContent">
            <h1 class="xlTitle pb-md-3">{{i.name|title}} </h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-auto">
          <div class="authorCol">
            
            <h4 class="smTitle pb-3">{{i.author|title}}</h4>
            
      
          </div>
        </div>
        <div class="col-md">
          <h4 class="smTitle pb-3">{{i.timestamp.date}}</h4>

        
        </div>
        <div >
          <h4 class="smTitle pb-3">{{i.description}}</h4>

        
        </div>
      </div>
    </div>
  </div>
  {% endfor%}
</section>

<section>
  {% for i in blog2 %}
  <div class="sectionSpaceSm">
    <div class="container">
      {{i.body|safe}}
    </div>
  </div>
  {% endfor%}
</section>

{% endblock %}

   